* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #ffffff;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
    
}

/* Sections */
p{
    color: #0d0c0c;
    font-size: medium;
    font-family: "Poppins", sans-serif;
}
.logo {
    width: 60px;
    border-radius: 5px;
}
/* Heading Section */

.big-heading{
    font-family: "Volkhov",sans-serif;
    size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
    font-size: 55px;
    color: #000;
}

/* Navigation bar */

.navbar{
    padding:0 0 4.5rem;
    font-family: "Poppins", sans-serif;
}
.navbar-brand{
    font-family: "Poppins",sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    background-color: #ffffff;
    color: #0d0909;
    border-radius: 10px;
    
}

.nav-item{
    padding: 0 10px;
}
.nav-link{
  font-size:1rem ;
  color: grey;
}

.btn {
  background-color: #0d0909;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  margin-left: 70px;
}
.navbar :hover {
    color: #a82b2b;
}
/* Tittle-Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Tittle image */

.tittle-image {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2fr 2fr;
    width: 50%;
    height: 20vh;
    gap: 1%;
    margin: auto;
    padding-top: 3%;
    margin-top: -1px;
    text-align: center;
    border-radius: 20% solid transparent;
    font-family: "Volkhov",sans-serif; 
}
.team {
    background-color: whitesmoke;
    grid-column: 1/2;
    padding-top: 7%;
    color: #000;
}
.gather {
    grid-column: 2/3;
    color: #000;
    padding-top: 6%;
    background-color: whitesmoke;
}
.gather img {
    border-radius: 10px;
}
.team img {
    border-radius: 10px;
}
.tittle-image span {
    color: #0d0c0c;
}



.boxes-cont {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2fr;
    width: 100%;
    height: 70vh;
    gap: 4%;
    margin-left: 10px;
    padding-top: 3%;
    overflow: hidden;
}
.box1 {
  background-color: #000;
  grid-column: 1/2;
  color: #ffffff;
  border-radius: 10%;
  padding: 20px;
  height: 38vh;
  width: 25vw;
  overflow: hidden;
}
.box1 .ring {
    width: 45%;
    rotate: 20deg;
    height: 23vh;
    margin-top: -40px;
}
.box1 .per {
    width: 60%;
    float: right;
    margin-top: -190px;
    margin-left: 170px;
    
}
.box1 h5 {
    width: 50%;
    font-size: 20px;
}
.box2 {
  background-color: rgba(214, 209, 209, 0.942);
  grid-column: 2/3;
  grid-row: 1/3;
  border-radius: 10%;
  padding: 20px;
}
.btn-1 {
    background-color: #0d0909;
    color: #fff;
    padding: 8px 40px;
    width: 13%;
    border-radius: 20px;
    margin-left: 7px;
    text-decoration: none;
    margin: 14px 0px;
}
.box2 p {
    font-size: 15px;
}
h4 {
    font-family: "Poppins" sans-serif;
    margin-top: 20px;
    color: #000;
}
.mini {
    background-color: #000;
    padding: 20px;
    border-radius: 10%;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-align: center;
    height: 30vh;
}
.mini p {
    color: rgb(80, 68, 68);
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
}
.box3 {
  background-color:  rgb(244, 91, 35);
  grid-column: 3/4;
  border-radius: 10%;
  padding: 20px;
  color: #000;
  height: 38vh;
}
.box3 .rin {
    width: 45%;
    margin-bottom: -40px;
    rotate: 20deg;
    float: right;
    margin-left: 240px;
    height: 30vh;
}
.box3 h3 {
    margin-bottom: -100px;
    font-size: 30px;
}
.box3 span {
    color: #a82b2b;
    font-size: 20px;
    margin-right: 10px;
}
.box3 .system {
    color: #000;
    font-size: 16px;
    margin-left: 90px;
}
.box4 {
  background-color: rgb(157, 166, 248);
  grid-column: 1/2;
  margin-right: 200px;
  border-radius: 10% 10% 10% 0;
  padding: 20px;
  width: 10vw;
  color: rgb(111, 101, 153);
  font-size: 15px;
  text-align: center;
  align-items: center;
}
.box4 h5 {
    font-size: 10px;
}
.box5 {
   background-color:  rgb(244, 91, 35);
   grid-column: 2/3;
   margin-left: -210px;
   margin-right: 309px;
   margin-top: -185px;
   border-radius: 10% 10% 10% 0;
   padding: 20px;
   text-align: center;
   align-items: center;
   
}
.box5 h5 {
    font-size: 10px;
    color: #a82b2b;
}
.box6 {
  background-color: rgb(157, 166, 248);
  grid-column: 3/3;
  grid-row: 2/3;
  border-radius: 10% 10% 10% 0;
  padding: 20px;
}
.box6 h3 {
    font-size: 20px;
    color: rgb(36, 5, 163);
}

/* mobile styles goes here */

@media(max-width:1028px){
    .navbar button {
        background-color: rgb(10, 12, 14);
    }
    .btn{
        margin-left: 0;
    }
    .big-heading {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    p {
        text-align: center;
        margin-left: 30px;
    }
    .tittle-image{
        margin-top: 80px;
        display: flex;
        align-items: center;
        gap: 20%;
        margin-bottom: 90px;
        margin-left: 60px;
    }
    .gather {
        padding: 30px;
        align-items: center;
        margin-left: 30px;
    }
    .team {
        padding: 40px;
    }
    .boxes-cont {
        display: block;
        width: 100%;
        height: 200vh;
        margin: 30px;
        gap: 4%;
    }
    .box1 {
        width: 70vw;
        margin-bottom: 30px;
    }
    .box2 {
        margin-bottom: 30px;
        text-align: center;
    }
    .box2 .mini {
        width: 40vw;
        margin-left: 40px;
    }
    .box3 {
        margin-bottom: 30px;
    }
    .box3 h3 {
        margin-bottom: 0px;
    }
    .box3 span {
        word-break: none;
    }
    .box4 {
        margin-bottom: 30px;
        width: 70vw;
        height: 30vh;
    }
    .box5 {
        margin-top: 0px;
        margin-left: 0px;
        width: 70vw;
        margin-bottom: 30px;
    }
    .box6 {
        margin-bottom: 20px;
        height: 30vh;
        text-align: center;
        padding-top: 70px;
    }
}
